{% extends 'base.html.twig' %}
{% block title %}Nouveau mot de passe{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
    {% block content %}
        <p class="h4">Entrez votre nouveau mot de passe !</p><br/>
        {% if errors|length > 0 %}
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}

        <form method="POST">

            <label for="pass">Mot de passe</label>
                <input type="password" placeholder="Mot de passe" name="password" class="form-control" required>
<br />
            <label for="pass">Confirmez votre mot de passe</label>
                <input type="password" placeholder="Confirmez votre mot de passe" name="password" class="form-control" required>
            <input type="hidden" name="token" value="{{ token }}">
            <br />
            <button type="submit" class="btn btn-secondary">Valider</button>
        </form>
        </div>
        </div>
    {% endblock %}
    </div>
{% endblock %}

