body
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, sans-serif;
    background-color: #F6F7F9;
    color:#fff;
}
.avis{
    display:block;
    padding:0;
}
.avis .liste-avis{
    display: block;
    padding: 0;
    font-style: italic;
}
.container {
   background-image: url("../images/chat.jpg");
    background-repeat:no-repeat;
    padding:0;
}
h1{
    padding: 2em 0;
    text-align: center;
    font-style: italic;
    font-size: 4em;
    color:#fff;
    text-shadow: #fff 0 0 20px;
}
nav {
    background-color: #c7b79d;
}
.navbar-brand {
    color:#FFFFFF;
    text-decoration: none;
    font-size: 1.4em;
    font-family: arial;
    color:#653512;
}
.navbar-brand:hover{
    color:#FFFFFF;
}
ul{
    margin: 0;
    padding:0;
    display:flex;
    justify-content: center;
}
ul li{
    list-style: none;
    padding: 20px;
    text-align: center;
}
.menu{
    display: none;
}
.row{
    margin: 0px auto;
    padding: 20px;
    background-color: #ae9782;
   text-align: center;
}
.main-content{
    font-weight: bold;
}
#content p{
    margin-top:0;
    margin-bottom:0px;
    font-size: 1.2em;
    line-height: 1.5;
}
.h5{
    color :#653512;
}
#footer{
    background-color: #c7b79d;
    background-size: 100%;
    text-align: center;
    padding:25px 0;
    color:#653512;
    font-weight: bold;
}
#footer a{
    text-decoration: none;
    color:#653512;
    font-style: italic;
    font-weight: bold;
}
/************* MEDIA QUERIES ********************/
/* 899 */
@media screen and (max-width: 990px){

    h1{
        font-size: 1.8em;
    }
    .menu{
        display: block;
        width:100%;
        background: #000;
        text-align: right;

    }
    .burger{
        color:#fff;
        margin-right: 25px;
        font-size:40px;
        cursor: pointer;
    }
    ul {
        display:none;
    }
    .active {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .active li{
        padding:0px 20px;
        font-size:0.8em;
    }
}


