{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% block content %}
        <h2>Bienvenue à la pension féline Le Chat Botté !</h2>
        <p>Vous partez en vacances ? vous allez être hospitalisé ?</p>
        <p>Et vous devez faire garder votre chat. Alors, vous êtes au bon endroit.</p>
        <p class="main-content"> Notre pension s'occupera de votre compagnon pendant votre absence. </p>
        <p class="main-content-plus">Pour réserver, rien de plus simple. Créez un compte et choisissez votre période de
            réservation. </p>
    {% endblock %}

{% endblock %}
