{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        {% block content %}
            <p class="h4 font-weight-bold">Bienvenue à la pension féline Le Chat Botté !</p><br>
            <p>Vous partez en vacances ? vous allez être hospitalisé ?</p>
            <p>Et vous devez faire garder votre chat. Alors, vous êtes au bon endroit.</p>
            <p>Notre pension s'occupera de votre compagnon pendant votre absence. </p>
            <p>Pour réserver, rien de plus simple.</p>
            <p> Créez un compte, connectez-vous et choisissez votre période de
                réservation. </p>
        {% endblock %}
    </div>
{% endblock %}
