{% extends "base.html.twig" %}
{% block body %}{% endblock %}
    {% block content %}
        <div id="content">
            <h1 class="qsn">Qui sommes-nous ?</h1>
            <p class="important">Notre pension se situe etc ... </p>
        </div>
    {% endblock %}
