{% extends 'base.html.twig' %}
{% block title %}Qui sommes-nous ?{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

    {% block content %}

        <p>Réserver ici</p>
    {% endblock %}