{% extends 'base.html.twig' %}
{% block title %}Qui sommes-nous ?{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}

    {% block content %}
        <p>Reservation</p>

        {% for booking in bookings %}
            <p>Réservation du {{ booking.startDate |date('d-m-Y')}} au {{ booking.exitDate |date('d-m-Y')}} pour votre chat : xxx</p>
            <br>
        {% endfor %}

        {{ form(form) }}

    {% endblock %}