{% extends 'base.html.twig' %}
{% block title %}Modification{% endblock %}

{% block content %}
    <p>Modification des Réservations</p>
    {# @var booking \App\Entity\Booking #}

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}